@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

body{
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body h1{
    font-size: 16px;
    color: black;
    font-weight: bold;
}
body h2{
    font-size: 16px;
    color: white;
    font-weight: bold;
}
body h3{
    font-size: 16px;
    color: white;
    font-weight: lighter;
}

.HeaderSite {
    background-color: #ec362d;
    box-shadow: 0px 1px 5px gray;
    width: 100%;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    left:0;

}

.HeaderSite h1{
    color: white;
    font-size: 40px;
    font-weight: bolder;
}

.ContentCreate{
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px auto auto auto;
}

.ContentCreate h1{
    text-align: center;
}
.BoxItensCreate {
    margin-top:30px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
    box-shadow: 0px 1px 4px lightgray;
}
.ButtonContinue{
    background-color: #ec362d;
    width: 367px;
    border-radius: 10px;
    padding: 15px  0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}

input{
    width: 90%;
    border:1px solid #bababa;
    border-radius: 10px;
    padding:10px;
    margin: 5px auto;

}
::placeholder {
    font-size: 16px;
    color: #bababa;
    font-weight:100;
    font-style: italic;
  }
.invisible{
    display: none;
}
.ButtonCreateQuizz {
    width: 1050px;
    height: 180px;
    margin-top: 150px;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.initialPage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ButtonCreateQuizz h1{
    text-align: center;
    width: 250px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    color: #B9B9B9;
}
.ButtonCreateQuizz h2{
    width: 136px;
    height: 40px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EC362D;
    border: 1px dashed #EC362D;
    border-radius: 50px;
}
.allQuizzes {
    width: 1050px;
    height: 500px;
    margin-top: 80px;

}
.allQuizzes h1{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
}
.imageApi{
    width: 330px;
    height: 181px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%), url(image.png);
    border-radius: 5px;
    position: relative;
}
.titleApi{
    font-family: Roboto;
    width: 300px;
    height: 54px;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    position: absolute;
    color: #ffffff;
    margin-top: 120px;
    margin-left: 15px;
    z-index: 1;

}
.allQuizzes ul{
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
}