@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

body{
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body h1{
    font-size: 16px;
    color: black;
    font-weight: bold;
}
body h2{
    font-size: 16px;
    color: white;
    font-weight: bold;
}
body h3{
    font-size: 16px;
    color: white;
    font-weight: lighter;
}
body ion-icon{
    font-size: 30px;
}

.HeaderSite {
    background-color: #ec362d;
    box-shadow: 0px 1px 5px gray;
    width: 100%;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    z-index: 2;

}

.HeaderSite h1{
    color: white;
    font-size: 40px;
    font-weight: bolder;
}

.ContentCreate{
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px auto auto auto;
}

.ContentCreate h1{
    text-align: center;
}
.BoxItensCreate {
    width: 100%;
    margin-top:30px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
    box-shadow: 0px 1px 4px lightgray;

}
.ButtonContinue{
    background-color: #ec362d;
    width: 367px;
    border-radius: 10px;
    padding: 15px  0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    font-size: 16px;
    color: white;
    font-weight: lighter;
}

input{
    width: 90%;
    border:1px solid #bababa;
    border-radius: 10px;
    padding:10px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}
input:invalid:focus {
    background-color: lightcoral;
  }

input::placeholder {
    font-size: 16px;
    color: #bababa;
    font-weight:100;
    font-style: italic;
  }

.LabelInfoCreate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto 5px auto;
    align-items: center;
}
.IncorrectURLCreate{
    margin-bottom:15px;
}

.CorrectURLCreate{
    margin-bottom:15px;
}

.QuestionColorCreate{
    margin-bottom:15px;
}
.QuestionCreating{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.QuestionCreating ion-icon{
    opacity:0%;
}
.QuestionNOTCreating{
    display: none;
    flex-direction: column;
    justify-content: center;
}
.ButtonCreateQuizz {
    width: 1050px;
    height: 180px;
    margin-top: 150px;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.initialPage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ButtonCreateQuizz h1{
    text-align: center;
    width: 250px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    color: #B9B9B9;
}
.ButtonCreateQuizz h2{
    width: 136px;
    height: 40px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EC362D;
    border: 1px dashed #EC362D;
    border-radius: 50px;
}
.allQuizzes {
    width: 1050px;
    height: 500px;
    margin-top: 80px;
}
.allQuizzes h1{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
}
.imageApi{
    width: 330px;
    height: 181px;
    margin: 0 6px 12px 6px;
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
    border-radius: 5px;
}
.allQuizzes ul{
    height: 380px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
    overflow: hidden;
}
.degrade{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
    border-radius: 5px;
}
.degrade > h4{
    font-size: 19px;
    width: 300px;
    line-height: 22px;
    margin: 0 0 7px 18px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.FinishCreate{
    object-fit:cover;
    width: 500px;
    height: 266px;
    margin-top: 30px;
    border-radius: 5px;
    position:relative;
    margin-left: auto;
    margin-right: auto;
}


.FinishCreateTitle{
    position: absolute;
    bottom: 0px;
    left:0px;
    font-size: 23px;
    font-weight: bold;
    z-index: 2;
}
.FinishCreateTitle h3{
    margin-bottom: 15px;
    margin-left: 15px;
}

.opacity{
    opacity: 0.3;
}
.right{
    margin-top: 10px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
}
.wrong{
    margin-top: 10px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
}
.resultBox{
    width: 759px;
    height: 430px;
    background-color: #FFFFFF;
    margin-top: 44px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.percentage{
    width: 727px;
    height: 99px;
    background-color: #EC362D;
    margin: 18px 18px;
    display: flex;
    justify-content: center;   
    align-items: center; 
}
.percentage > h1{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 23px;
    color: #FFFFFF;
}
.textImage{
    display: flex;
    height: 273px;
    background-color: #009C22;
    margin: 18px 18px;
}
.resultImage > img{
    width: 100%;
    height: 100%;
}
.resultText{
    width: 340px;
    height: 96px;
    margin-top: 18px;
}
.resultText > h6{
    width: 100%;
    height: 100%;
    word-wrap: break-word;
}
.restart{
    width: 260px;
    height: 52px;
    background: #EC362D;
    border-radius: 15px;
    margin-top: 51px;
    border: none;
}
.restart > h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    color: #FFF5F4;
}
.back {
    width: 260px;
    height: 52px;
    border-radius: 15px;
    margin-top: 16px;
    border: none;
}
.back > h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
}
.quizzPage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.quizzTitle{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 227px;
    margin-top: 69px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.opacityFilter{
    background-color: rgba(0, 0, 0, 0.6);    
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.opacityFilter > h1{
    font-size: 39px;
    width: 1051px;
    line-height: 22px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;    

}
.quizzQuestion{
    width: 680px;
    height: 137.99px;
    margin: 28px 36px;
}

.quizzQuestion > h1{
    text-align: center;
    padding: 60px 0;
    font-size: 23px;
    font-weight: bold;
    color:#FFFFFF;
}
.options{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}
.options > img{
    width: 300px;
    height: 175px;
}
.options > h1{
    margin-left: 36px;
    font-size: 20px; 
    font-weight: bold;
    width: 330px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.questionBox{
    width: 759px;
    left: 340px;
    margin-top: 42px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.questionBox > ul{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 740px;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
}
.green{
    color: #009C22;
}

.red{
    color:#FF4B4B;
}
.invisible{
    display: none;
}
@media (max-width: 1100px){
    .LevelDescriptionCreate{
        height: 177px;
    }
    .ContentCreate{
        width:100%
    }
}